<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>首次外呼-{$Think.config.cms_name}</title>
        <link href="__PUBLIC__/css/main.css?ssssfsf" type="text/css" rel="stylesheet" />
        <link href="__PUBLIC__/css/easyui.css" type="text/css" rel="stylesheet" />
        <script src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
        <script src="__PUBLIC__/js/jquery.easyui.min.js" type="text/javascript" language="javascript"></script>
        <script src="__PUBLIC__/js/easyui-lang-zh_CN.js" type="text/javascript" language="javascript"></script>
    </head>
    <body>
        {$iAlreadyCount}
        <!--<h3><div align="center">未分配信息{$iNoAssignCount}条,{$nowAssignNum}&nbsp;&nbsp;&nbsp;&nbsp;<a href="__ROOT__/index.php/Admin/Guestbook/gbForm/hefei/1" target="_blank">特殊通道</a></div></h3>-->
        <h3><div align="center">{$iNoAssignCount}{$nowAssignNum}&nbsp;&nbsp;&nbsp;&nbsp;<a href="__ROOT__/index.php/Admin/Guestbook/gbForm/hefei/1" target="_blank">特殊通道</a></div></h3>

        <div id="top">
            推荐列表：
            <!-- autocomplete防止fox缓存 -->
            <select name="pid" id="pid" autocomplete="off">
                <volist name="aBigList" id="vo">
                    <option value="{$vo.id}">{$vo.catname}</option>
                </volist>
            </select>
            <select name="cid" id="cid">
                <volist name="subList" id="vo">
                    <option value="{$vo.id}" pid="{$vo.pid}">{$vo.catname}</option>
                </volist>
            </select>
            <div id="newproject"></div>
            用户ID:{$uID}&nbsp;&nbsp;来源：<span id="top_keywords"></span>&nbsp;&nbsp;时间：<span id="top_times"></span><br/><br/>Hit：<span id="hit_info"></span></div>
        <div id="c_left">
            <volist name="aList"  id="vo">
                <p thisid="{$vo.ids}" url="{$vo.address}"  k="{$vo.keywords}" phone="{$vo.phone}" dailPhone="0{$vo.phone}" projectID="{$vo.project_id}"  ips="{$vo.ips}"  times="{$vo.Thetime}"  ad="{$vo.province}" site="{$vo.site}" class="">{$i}&nbsp;{$vo.phone}</p>
            </volist>
        </div>
        <div id="c_center">
            <iframe src="" width="600" height="800" frameborder=no></iframe>
        </div>
        <div id="c_right">
            <input class="button" type="button" value="不需要"  status="7">
            <input class="button" type="button" value="无人接听"  status="2">
            <input class="button" type="button" value="无法接通" status="3">
            <br /><br />
            <input class="button" type="button" value="挂机" status="4">
            <input class="button" type="button" value="停机" status="5">
            <input id="transfer" type="button" value="转接" status="8">
            <br /><br />
            <input id="sanfang" type="button" value="三方转接" status="80">
            <!--<br /><br />-->
            <form id="myform"  action="__ROOT__/index.php/Admin/Guestbook/sendDataByInter/"  target="_blank">
                姓名：<input  type="text" name="username" id="username" /><br/>
                电话：<input  type="text" name="phone" id="phone" /><br/>
                备注：<input  type="text" name="content" id="content"><br />
                IP：<input  type="text" name="ip" id="ip" /><br/>
                地址：<input  type="text" name="address" id="address" /><br/>
                项目ID：<input  type="text" name="projectID"  id="projectID"  value=""  /><br/>
                发送给：<span id="toWhich"></span><br/>
                用户ID：<span>{$uID}</span>
                <br/>
                <input type="hidden" name="website" id="website" value="" />
                <input type="hidden" name="uID" id="uID" value="{$uID}" />
                <input type="text" name="guestbook_id" id="guestbook_id"><br/>
                <input class="submit"  type="submit"  value="提交"/>
            </form>
            呼叫号码：<br/>
            <input  type="text" name="dailPhone" id="dailPhone" /><br/>
            转移号码：<br/>
            <input  type="text" name="transferCall" id="transferCall" /><br/>
        </div>
        <script>
            $("#c_left p").click(function () {
                $(this).addClass("dealed");
                $("#top span").html("");
                $("#top_keywords").html($(this).attr("k"));
                $("#top_times").html($(this).attr("times"));
                $("#dailPhone").val($(this).attr("dailPhone"));
                $("#address").val($(this).attr("ad"));
                $('#c_center iframe').attr('src', $(this).attr("url"));
                $("#myform input[type=text]").val("");
                $("#phone").val($(this).attr("phone"));
                $("#ip").val($(this).attr("ips"));
                $("#projectID").val($(this).attr("projectID"));
                $("#guestbook_id").val($(this).attr("thisid"));
                $("#toWhich").html($(this).attr("site"));
                $("#website").val($(this).attr("site"));

                $.ajax({
                    type: 'get',
                    url: '__ROOT__/index.php/Admin/Project/getProjectSendStatus/',
                    data: 'pID=' + $(this).attr('projectID') + '&site=' + $(this).attr('site'),
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        //			 alert(data);
                        // alert(data[0].status);
                        if (data == 0) {
                            $("#hit_info").html("此项目不在项目列表中，请在项目表中选择相关项目提交！");
//                            return;
                        }
                        if (data[0].status == 0) {
                            $("#hit_info").html("本项目不接受发送数据，为您推荐以下项目");
                            for (var i in data) {
                                //alert(data[i].projectID);
//                                if (data[i].site == 28) {
//                                    var rec_url = "http://tj.28.com" + data[i].webPage;
//                                }
//
//                                else {
                                var rec_url = data[i].webPage;
//                                }
                                if (!data[i].projectID) {
                                    $("#hit_info").html("本项目不接受发送数据，暂时没有相关可推荐项目");
//                                    console.log('projectId: ' + data[i].projectID);
                                    break;
                                }
                                $("#hit_info").append(
                                        "&nbsp;&nbsp;<input class='recommendBtn' type='radio' name='sss' value=" + data[i].projectID +
                                        " site=" + data[i].site + "><a href='" + rec_url + "' target='_blank'>" + data[i].name + "</a>");
                                $(".recommendBtn").click(function () {
                                    $("#projectID").val($(this).attr("value"));
                                    if ($(this).attr("site") == '28') {
                                        $("#website").val("28");
                                        $("#toWhich").html("28");
                                    } else {
                                        $("#website").val("ls");
                                        $("#toWhich").html("ls");
                                    }
                                });
                            }
                        } else {
                            $("#hit_info").html("发送状态：OK");
                        }
                    }
                })
            })
            //转接传值和标注
            $("#transfer").click(function () {
                var self = $(this);
                self.attr('disabled', true);
                $.ajax({
                    type: 'post',
                    url: '__ROOT__/index.php/Admin/Guestbook/transfer',
                    data: $('#myform').serialize(),
                    success: function (response) {
                        $("#c_left p[thisid=" + $("#guestbook_id").val() + "]").hide(1000);
                        console.log(response);
                        self.attr('disabled', false);
                        alert("转接标注成功");
                    }
                });
            });

            //连锁三方转接标注发送
            $("#sanfang").click(function () {
                var self = $(this);
                self.attr('disabled', true);
                $.ajax({
                    type: 'post',
                    url: '__ROOT__/index.php/Admin/Guestbook/sanfang',
                    data: $('#myform').serialize(),
                    success: function (response) {
                        $("#c_left p[thisid=" + $("#guestbook_id").val() + "]").hide(1000);
                        console.log(response);
                        self.attr('disabled', false);
                        alert("三方转接标注成功");
                    }
                });
            });
            $(".button").click(function () {
                $.ajax({
                    type: 'get',
                    url: '__ROOT__/index.php/Admin/Guestbook/dealStatus/s/' + $(this).attr("status") + '/id/' + $("#guestbook_id").val() + '/uID/{$uID}',
                    success: function (data) {
                        $("#c_left p[thisid=" + $("#guestbook_id").val() + "]").hide(1000);
                    }
                });
            });


            $("#myform").submit(function () {
                $("#c_left p[thisid=" + $("#guestbook_id").val() + "]").hide(1000);
                //return false;
            });
            //地址归属地
            $('#c_left').on('click', 'p', function (event) {
                var phone = $(this).attr('phone');
                $.ajax({
                    type: 'get',
                    url: '__ROOT__/index.php/Admin/Api/getAttribution/phone/' + phone,
                    dataType: 'json',
                    success: function (response) {
//                        console.log('response: ' + response);
                        if (response.city == '') {
                            var addrs = response.province;
                        } else {
                            var addrs = response.province + '.' + response.city;
                        }
//                        console.log(response.data.sp);
                        $("#address").val(addrs);
                    }
                });
            });
        </script>

        <script type="text/javascript">
            // ie下防止select缓存
            document.getElementById("pid").selectedIndex = 0;
            var data = [];

            $('#cid option').each(function (index, item) {
                item = $(item);
                data.push({
                    value: item.val(),
                    pid: item.attr('pid'),
                    content: item.html()
                });
            });

            // init
            show($('#pid option').val())


            $('#pid').on('change', function (e) {
                var pid = this.value;
                show(pid);
            });


            function show(pid) {
                $('#cid').html('');
                var result = '';
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    if (pid == item.pid) {
                        result += '<option value="' + item.value + '">' + item.content + '</option>';
                    }
                }

                result = '<option value="-1">' + '请选择' + '</option>' + result;
                $('#cid').append(result);
            }
        </script>
        <!-- 获取推荐项目列表 -->
        <script type="text/javascript">
            $("#cid").on('change', function () {
                var newCid = $("#cid").val();
                $.ajax({
                    type: 'get',
                    url: '__ROOT__/index.php/Admin/NewGuestbook/getNewProject/newCid/' + newCid + '',
                    success: function (_data) {
                        // alert(_data);
                        //返回的值是null字符串
                        if (_data == 'null') {
                            $('#newproject').html('');
                            return;
                        }
                        var data = [];
                        $.each(jQuery.parseJSON(_data), function (index, item) {
                            if (true) {
                            }
                            ;
                            data.push(item);
                        });

                        console.log(data);

                        var randomIndex = [];
                        var len = data.length < 5 ? data.length : 5;
                        for (var i = 0; i < len; ) {
                            var num = Math.floor(Math.random() * (data.length - 1 - 0 + 1)) + 0;
                            if (randomIndex.indexOf(num) == -1) {
                                randomIndex.push(num);
                                i++;
                            }
                            ;
                        }
                        ;

                        var randomData = data;
//                        $.each(randomIndex, function (index, item) {
//                            randomData.push(data[item]);
//                        });


                        var template = '<input type="radio" name="newproject" ' +
                                'value={{value}} ' +
                                'id={{projectID}} ' +
                                'data-site={{site}}>' +
                                '<a target="_blank" data-target={{projectID}} href={{webPage}} >' +
                                '{{name}}' +
                                '</a>';

                        var radios = '';

                        $.each(randomData, function (index, item) {
                            var webPage = item.webPage.indexOf('/ws') == 0 ?
                                    'http://tj.28.com' + item.webPage :
                                    item.webPage;

                            var radio = template.replace(/{{name}}/g, item.name)
                                    .replace(/{{value}}/g, item.name)
                                    .replace(/{{webPage}}/g, webPage)
                                    .replace(/{{projectID}}/g, item.projectID)
                                    .replace(/{{site}}/g, item.site);

                            radios += radio;
                        });

                        $('#newproject').html(radios);
                    }
                });

                //推荐项目后赋值
                $('#newproject').on('click', '[type="radio"]', function (event) {
                    $('#projectID').val($(this).attr('id'));
                    $("#toWhich").html($(this).attr("data-site"));
                    $("#website").val($(this).attr("data-site"));
                });
            })
        </script>
        <!--//自动定时请求刷新
                       <script type="text/javascript">
                           setTimeout("querySystemNotice()",1000);//1分钟

                              function querySystemNotice()
                              {
       //                            alert('aaaaaaaaa');
                                   window.location.reload();
                              }
                       </script>-->
    <include file="Index:footer" />
</body>
</html>