<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>待审核发送数据-{$Think.config.cms_name}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel='stylesheet' type='text/css' href='__PUBLIC__/Admin/css/admin_style.css' />
        <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Admin/js/function.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Admin/js/knockout-3.2.0.js"></script>
        <style>

            body {
                font-family: 'microsoft yahei';
            }
            td{ height:22px; line-height:22px}

            .stu {
                width: 80px;
                height: 30px;
                color: white;
                font-weight: bold;
                cursor: pointer;
            }

            .stu:disabled{
                cursor: not-allowed;
                opacity: 0.3;
                color: lightgray;
            }
            #shit {
                display: none;
            }
        </style>
        <script>
            var rawData = {$datalist};
        </script>
    </head>
    <body>
        <a href="__ROOT__/index.php/Admin/Guestbook/check/act/2">查看审核过的数据</a>
        <a href="__ROOT__/index.php/Admin/Guestbook/check/act/3">查看全部数据</a>
        <input type="text" data-bind="textInput: search" />
        <table width="98%" border="0" cellpadding="6" cellspacing="1" class="table">
            <thead>
                <tr>
                    <td colspan="14" class="table_title">
                        <script src="__PUBLIC__/Admin/js/jquery-ui-1.10.3.full.min.js"></script>
                        <script src="__PUBLIC__/Admin/js/jquery.ui.touch-punch.min.js"></script>
                        <!-- <link rel="stylesheet" href="__PUBLIC__/Admin/css/theme.css"> -->
                        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
                            <script>
            $(function () {
                $("#date").datepicker({});
                $.datepicker.regional['zh-CN'] = {
                    closeText: '关闭',
                    prevText: '&#x3c;上月',
                    nextText: '下月&#x3e;',
                    currentText: '今天',
                    monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                        '七月', '八月', '九月', '十月', '十一月', '十二月'],
                    monthNamesShort: ['一', '二', '三', '四', '五', '六',
                        '七', '八', '九', '十', '十一', '十二'],
                    dayNames: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
                    dayNamesShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
                    dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
                    weekHeader: '周',
                    dateFormat: 'yy-mm-dd',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: true,
                    yearSuffix: '年'};
                $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
            });
                            </script>
                            <span class="fl">当前日期:{$date}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="f1">共有数据：{$count}</span>
                             <form action="__ROOT__/index.php/Admin/Guestbook/check/" method="post">
                                <span class="fl">查询日期:<input type="text" name="date" id="date" /></span>
                                <input type ="hidden" name="act" value="{$act}">
                                <input type="submit" value="查询" />
                            </form>
                    </td>
                </tr>
                <tr class="list_head ct">
                    <td>项目ID</td>
                    <td>项目名称</td>
                    <td>姓名</td>
                    <td>电话</td>
                    <td>转接或留言</td>
                    <td>发送内容</td>
                    <td>地址</td>
                    <td>发送网站</td>
                    <td>发送状态</td>
                    <td>提交时间</td>
                    <td>客服ID</td>
                    <td>审核状态</td>
                    <td>是否有效</td>
                    <td>点击审核</td>
                </tr>
            </thead>

            <tbody data-bind="foreach: datalist">
                <tr class='<eq name="mod" value="1">tr<else/>ji</eq>'>
                    <td data-bind="text: projectID">{$vo.projectID}</td>
                    <td data-bind="text: projectname">{$vo.projectname}</td>
                    <td data-bind="text: name">{$vo.name}</td>
                    <td data-bind="text: phone">{$vo.phone}</td>
                    <td data-bind="text: transfer">{$vo.transfer}</td>
                    <td data-bind="text: content">{$vo.content}</td>
                    <td data-bind="text: address">{$vo.address}</td>
                    <td data-bind="text: site">{$vo.site}</td>
                    <td data-bind="text: status">{$vo.status}</td>
                    <td data-bind="text: Thetime">{$vo.Thetime}</td>
                    <td data-bind="text: u_id">{$vo.u_id}</td>
                    <td data-bind="text: check" class="check-status">{$vo.check}</td>
                    <td data-bind="text: regular" class="check-regular">{$vo.regular}</td>
                    <td align="center" class="btn-group">
                        <button class="stu" value="1" data-bind="attr: { 'data-id': id, 'data-projectID': projectID, 'data-site': site }" style="background:green" disabled>有效</button>&nbsp;&nbsp;
                        <button class="stu" value="0" data-bind="attr: { 'data-id': id, 'data-projectID': projectID, 'data-site': site }" style="background:red" disabled>无效</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <script>
          function Vm() {
            var self = this;
            self.search = ko.observable('');
            self.rawData = rawData

            self.datalist = ko.computed(function() {
              return self.rawData.filter(function(item, index, array) {
                var search = self.search();
                if (search.match(/\s+/)) {
                  return item;
                } else {
                  return item.u_id.indexOf(search) != -1;
                }
              });
            }).extend({ rateLimit: 600 });
          }

          ko.applyBindings(new Vm());

        </script>


        <script>var version = '{$Think.config.cms_var}';</script>
        <include file="Index:footer" />
        <script>
            $('.btn-group').each(function() {
                var $this = $(this);
                var checkstatus = $this.parent('tr').find('.check-status').html();
                if (checkstatus == '0') {
                    $this.find('.stu').each(function(index, item) {
                        $(this).attr('disabled', false);
                    });
                }
            });

            //审核ID的ajax提交
            $("body").on("click", ".stu", function(e) {
                var $this = $(this);
                var parent = $this.parents('tr');
                var id = $this.attr("data-id");
                var projectID = $this.attr("data-projectID");
//                var name = $("#name").val();
                var site = $this.attr("data-site");
                var value = $this.val();
                if (value == 0) {
                    var sh = '确定审核为无效';
                } else {
                    var sh = '确定审核为有效';
                }
                var c = confirm(sh);
                var data = {
                    id: id,
                    data: value,
                    projectID: projectID,
//                    name:name,
                    site: site
                };
//                console.log(data);
                if (c) {
                    parent.find('.btn-group .stu').each(function(index, item) {
                        $(item).attr('disabled', true);
                    });
                    $.ajax({
                        type: 'post',
                        url: '__ROOT__/index.php/Admin/Guestbook/sendToBJ/',
                        data: data,
//                      dataType: 'json',
                        success: function(response) {
                            parent.find('.check-status').html('1');
                            parent.find('.check-regular').html(value);
                            console.log(response);
                            alert(response);
                        }
                    });
                }
            });

        </script>


    </body>
</html>
