<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href = '__ROOT__/index.php/Admin/In/TFP_xzq/'>雪之丘特殊分配</a><br />
        <a href = '__ROOT__/index.php/Admin/In/TFP_kaola/'>考拉大冒险特殊分配</a>
    </body>
</html>
