<!DOCTYPE html>
<html>
    <head>
        <title>特殊数据分配</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .a{margin-top: 10px;}
        </style>
    </head>
    <body>
        <div class="a"><a href = '__ROOT__/index.php/Admin/In/TFP_xzq/'>雪之丘特殊分配</a><br /></div>
        
        <div class="a"><a href = '__ROOT__/index.php/Admin/In/TFP_kaola/'>考拉大冒险特殊分配</a><br /></div>
        
        <div class="a"><a href = '__ROOT__/index.php/Admin/In/jialiang28/'>28加量分配</a></div>
    </body>
</html>
