<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>控制台 - 后台管理系统</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="http://800.91jmw.com/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="http://800.91jmw.com/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="http://800.91jmw.com/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

		<!-- ace styles -->

		<link rel="stylesheet" href="http://800.91jmw.com/assets/css/ace.min.css" />
		<link rel="stylesheet" href="http://800.91jmw.com/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="http://800.91jmw.com/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="http://800.91jmw.com/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="http://800.91jmw.com/assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="http://800.91jmw.com/assets/js/html5shiv.js"></script>
		<script src="http://800.91jmw.com/assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

<body>



<div class="error-container">
				<div class="well">
					<h1 class="grey lighter smaller">
						<span class="blue bigger-125">
							<i class="icon-sitemap"></i>
							抱歉！
						</span>
						你使用的浏览器版本过低！
					</h1>

					<hr />
					<h3 class="lighter smaller">请下载现代化浏览器，享受更优质的页面体验！</h3>

					<div>

						<div class="space"></div>
						<h4 class="smaller">推荐使用:</h4>

						<ul class="list-unstyled spaced inline bigger-110 margin-15">
							<li>
								<i class="icon-hand-right blue"></i>
								<a href="http://www.firefox.com.cn/" target="_blank">火狐浏览器</a>
							</li>

							<li>
								<i class="icon-hand-right blue"></i>
								<a href="https://www.google.com/intl/zh-CN/chrome/browser/" target="_blank">谷歌浏览器</a>
							</li>

							<li>
								<i class="icon-hand-right blue"></i>
								<a href="http://www.opera.com/zh-cn" target="_blank">Opera浏览器</a>
							</li>
						</ul>
					</div>

					<hr />
					<div class="space"></div>


				</div>
			</div>