<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>首次外呼(一对多)-{$Think.config.cms_name}</title>
        <link href="__PUBLIC__/css/main.css" type="text/css" rel="stylesheet" />
        <link href="__PUBLIC__/css/easyui.css" type="text/css" rel="stylesheet" />
        <script src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
        <script src="__PUBLIC__/js/jquery.easyui.min.js" type="text/javascript" language="javascript"></script>
        <script src="__PUBLIC__/js/easyui-lang-zh_CN.js" type="text/javascript" language="javascript"></script>
    </head>
    <body>
        <h3>
            <div align="center">未分配信息{$iNoAssignCount}条,{$nowAssignNum}&nbsp;&nbsp;&nbsp;&nbsp;<a href="__ROOT__/index.php/Admin/Guestbook/gbForm/hefei/1" target="_blank">特殊通道</a>
            </div>
        </h3>
        <div id="top">
            推荐列表：
            <!-- autocomplete防止fox缓存 -->
            <select name="pid" id="pid" autocomplete="off">
                <volist name="aBigList" id="vo">
                    <option value="{$vo.id}">{$vo.catname}</option>
                </volist>
            </select>
            <select name="cid" id="cid">
                <volist name="subList" id="vo">
                    <option value="{$vo.id}" pid="{$vo.pid}">{$vo.catname}</option>
                </volist>
            </select>
            <div id="newproject"></div>
            用户ID:{$uID}&nbsp;&nbsp;所属项目：<span id="ower_project"></span>&nbsp;&nbsp;来源关键词：<span id="keywords"></span> 时间：<span id="times"></span>
        </div>
        <div id="c_left">
            <volist name="aList"  id="vo">
                <p thisid="{$vo.ids}" url="{$vo.address}"  k="{$vo.keywords}" phone="{$vo.phone}" dailPhone="0{$vo.phone}" projectID="{$vo.project_id}"  ips="{$vo.ips}"  times="{$vo.times}"  ad="{$vo.province}" site="{$vo.site}" class="">{$i}&nbsp;{$vo.phone}</p>
            </volist>
        </div>
        <div id="c_center">
            <iframe src="" width="600" height="800" frameborder=no></iframe>
        </div>
        <div id="c_right">
            <input class="button" type="button" value="不需要"  status="7">
            <input class="button" type="button" value="无人接听"  status="2">
            <input class="button" type="button" value="无法接通" status="3">
            <br /><br />
            <input class="button" type="button" value="挂机" status="4">
            <input class="button" type="button" value="停机" status="5">
            <br /><br />
            <form id="myform"  action="__ROOT__/index.php/Admin/Guestbook/sendDataByInter/"  target="_blank">
                姓名：<input  type="text" name="username" id="username" /><br/>
                电话：<input  type="text" name="phone" id="phone" /><br/>
                备注：<input  type="text" name="content" id="content"><br />
                IP：<input  type="text" name="ip" id="ip" /><br/>
                地址：<input  type="text" name="address" id="address" /><br/>
                项目ID：<input  type="text" name="projectID"  id="projectID"  value=""  /><br/>
                发送给：<span id="toWhich"></span><br/>
                用户ID：<span>{$uID}</span>
                <br/>
                <input type="hidden" name="website" id="website" value="" />
                <input type="hidden" name="uID" id="uID" value="{$uID}" />
                <input type="text" name="guestbook_id" id="guestbook_id"><br/>
                <input class="submit"  type="submit"  value="提交"/>
            </form>
            呼叫号码：<br/>
            <input  type="text" name="dailPhone" id="dailPhone" /><br/>
            转移号码：<br/>
            <input  type="text" name="transferCall" id="transferCall" /><br/>
        </div>
        <script>
            //点击每条信息，进行详细信息的插入
            $("#c_left p").click(function() {
                $(this).addClass("dealed");
                $("#top span").html("");
                $("#dailPhone").val($(this).attr("dailPhone"));
                $("#ower_project").html($(this).attr("url"));
                $("#keywords").html($(this).attr("k"));
                $("#times").html($(this).attr("times"));
                $("#address").val($(this).attr("ad"));
                //$('#c_center iframe').attr('src','http://'+$(this).attr("url"));
                $('#c_center iframe').attr('src', $(this).attr("url"));
                $("#myform input[type=text]").val("");
                $("#phone").val($(this).attr("phone"));
                $("#ip").val($(this).attr("ips"));
                $("#projectID").val($(this).attr("projectID"));
                $("#guestbook_id").val($(this).attr("thisid"));
                // $("#toWhich").html($(this).attr("site"));
                // $("#website").val($(this).attr("site"));
                $.ajax({
                    type: 'get',
                    url: '__ROOT__/index.php/Admin/Project/getProjectSendStatus/',
                    data: 'pID=' + $(this).attr('projectID') + '&site=' + $(this).attr('site'),
                    dataType: 'text',
                    success: function(data) {
                        //alert(data);
                    }
                })
            })

            //提交处理状态数
            $(".button").click(function() {
                $.ajax({
                    type: 'get',
                    url: '__ROOT__/index.php/Admin/Guestbook/dealStatus/s/' + $(this).attr("status") + '/id/' + $("#guestbook_id").val() + '/uID/{$uID}',
                    success: function(data) {
                        $("#c_left p[thisid=" + $("#guestbook_id").val() + "]").hide(1000);
                    }
                })
            })

            //提交发送
            $("#myform").submit(function() {
                $("#c_left p[thisid=" + $("#guestbook_id").val() + "]").hide(1000);
                //return false;
            })
        </script>
        <!--父子栏目联动 -->
        <script type="text/javascript">
            //ie下防止select缓存
            document.getElementById("pid").selectedIndex = 0;
            var data = [];
            $('#cid option').each(function(index, item) {
                item = $(item);
                data.push({
                    value: item.val(),
                    pid: item.attr('pid'),
                    content: item.html()
                });


            });
            // init
            show($('#pid option').val())


            $('#pid').on('change', function(e) {
                var pid = this.value;
                show(pid);
            });


            function show(pid) {
                $('#cid').html('');
                var result = '';
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    if (pid == item.pid) {
                        result += '<option value="' + item.value + '">' + item.content + '</option>';
                    }
                }

                $('#cid').append(result);
            }
        </script>
        <!-- 获取推荐项目列表 -->
        <script type="text/javascript">
            $("#cid").on('change', function() {
                var newCid = $("#cid").val();
                $.ajax({
                    type: 'get',
                    url: '__ROOT__/index.php/Admin/NewGuestbook/getNewProject/newCid/' + newCid + '',
                    success: function(_data) {
                        // alert(_data);
                        //返回的值是null字符串
                        if (_data == 'null') {
                            $('#newproject').html('');
                            return;
                        }
                        var data = [];
                        $.each(jQuery.parseJSON(_data), function(index, item) {
                            if (true) {
                            }
                            ;
                            data.push(item);
                        });

                        console.log(data);

                        var randomIndex = [];
                        var len = data.length < 5 ? data.length : 5;
                        for (var i = 0; i < len; ) {
                            var num = Math.floor(Math.random() * (data.length - 1 - 0 + 1)) + 0;
                            if (randomIndex.indexOf(num) == -1) {
                                randomIndex.push(num);
                                i++;
                            }
                            ;
                        }
                        ;

                        var randomData = [];
                        $.each(randomIndex, function(index, item) {
                            randomData.push(data[item]);
                        });


                        var template = '<input type="radio" name="newproject" ' +
                                'value={{value}} ' +
                                'id={{projectID}} ' +
                                'data-site={{site}}>' +
                                '<a target="_blank" data-target={{projectID}} href={{webPage}} >' +
                                '{{name}}' +
                                '</a>';

                        var radios = '';

                        $.each(randomData, function(index, item) {
                            var webPage = item.webPage.indexOf('/ws') == 0 ?
                                    'http://tj.28.com' + item.webPage :
                                    item.webPage;

                            var radio = template.replace(/{{name}}/g, item.name)
                                    .replace(/{{value}}/g, item.name)
                                    .replace(/{{webPage}}/g, webPage)
                                    .replace(/{{projectID}}/g, item.projectID)
                                    .replace(/{{site}}/g, item.site);

                            radios += radio;
                        });

                        $('#newproject').html(radios);
                    }
                });

                //推荐项目后赋值
                $('#newproject').on('click', '[type="radio"]', function(event) {
                    $('#projectID').val($(this).attr('id'));
                    $("#toWhich").html($(this).attr("data-site"));
                    $("#website").val($(this).attr("data-site"));
                });
            })
            //地址归属地
            $('#c_left').on('click', 'p', function(event) {
                var phone = $(this).attr('phone');
                $.ajax({
                    type: 'get',
                    url: '__ROOT__/index.php/Admin/Api/index/' + phone,
                    dataType: 'json',
                    success: function(response) {
                        $("#address").val(response.data.province + " " + response.data.city);
                    }
                });
            });
        </script>
    <include file="Index:footer" />
</body>
</html>