<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" />
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>项目分类列表-{$Think.config.cms_name}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <link rel='stylesheet' type='text/css' href='__PUBLIC__/Admin/css/admin_style.css' />
            <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
            <script type="text/javascript" src="__PUBLIC__/Admin/js/function.js"></script>
            <style>td{ height:22px; line-height:22px}</style>
    </head>
    <body>
        <table id="list_table" width="98%" border="0" cellpadding="12" cellspacing="1" class="table">
            <tr>
                <td colspan="14" class="table_title">
                    <span class="fl">项目列表</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>项目总数：{$countaList}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="f1">总需求数：{$Aalsum}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>还需总数：{$Anumbers}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="f1">总提交数：{$Asends}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="f1">提交百分比：{$Apersent}%</span>
                    <form action="__ROOT__/index.php/Admin/Project/index/" mothod="post">	
                        <select name="act">
                            <option>请选择状态</option>
                            <option value="28">28商机网</option>
                            <option value="ls">中国连锁网</option>
                            <option value="zf">致富网</option>
                            <option value="wp">王牌28网</option>
                        </select>
<!--                        <select name="site">
                                <option value="28">28商机网</option>
                                <option value="ls">中国连锁网</option>
                                <option value="zf">致富网</option>
                            </select>-->
                        <input type="submit" value="点击查询" />
                    </form>    
                        <!--                             <span>点击可查询：</span>
                                                    <a href="#"><input type="button" value="全部在投项目" name="" id="" /></a>
                                                    <a href="#"><input type="button" value="今天还可发送项目" name="" id="" /></a>-->
                </td>
                <tr class="list_head ct">
                    <td>ID</td>
                    <td>所属网站</td>
                    <td>项目ID</td>
                    <td>项目名称</td>
                    <td>所需量</td>
                    <td>已提量</td>
                    <td>还需量</td>
                    <td>行业（父类）</td>
                    <td>行业（子类）</td>
                    <td>修改后父类</td>
                    <td>修改后子类</td>
                    <td>项目状态</td>
                    <td>发送状态</td>
                    <td>操作</td>
                </tr>
                <volist name="aList"  id="vo">
                    <tr class='<eq name="mod" value="1">tr<else/>ji</eq>'>
                        <td align="center">{$vo.id}</td>
                        <td align="center">{$vo.site}</td>
                        <td align="center">{$vo.projectID}</td>
                        <td align="center"><a href="{$vo.http}" target="_blank">{$vo.name}</a></td>
                        <td align="center">{$vo.needNum}</td>
                        <td align="center">{$vo.alcount}</td>
                        <td align="center">{$vo.numbers}</td>
                        <td align="center">{$vo.catName}</td>
                        <td align="center">{$vo.subCat}</td>
                        <td align="center">{$catList[$vo["pid"]]}</td>
                        <td align="center">{$catList[$vo["cid"]]}</td>
                        <td align="center">{$vo.status}</td>
                        <td align="center">{$vo.sendStatus}</td>
                        <td align='center'>
                            <a href="{:U('/Admin/Project/edit',array("id"=>$vo[id]))}">编辑</a>
                            <!-- <a href="{:U('/Admin/Project/category/act/del')}">删除</a> -->
                        </td>
                    </tr>
                </volist>
                <!-- <tr class="tr">
          <td colspan="11" class="pages">
            {$page}
          </td>
        </tr> -->
                <!--        <tr style="visibility: hidden;">
                                                <td>ID</td>
                                                <td>所属网站</td>
                                                <td>项目ID</td>
                                                <td>项目名称</td>
                                                <td>所需量</td>
                                                <td>还需数量</td>
                                                <td>行业（父类）</td>
                                                <td>行业（子类）</td>
                                                <td>修改后父类</td>
                                                <td>修改后子类</td>
                                                <td>项目状态</td>
                                                <td>发送状态</td>
                                                <td>操作</td>
                                        </tr>-->
        </table>
        <style>
            #table-header.pin {
                position:fixed;
                top: 0;
                width: 98%;
            }

            #table-header.pin td {
                padding: 0 10px;
            }
        </style>
        <script>var version = '{$Think.config.cms_var}';</script>
        <!--活动nav-->
        <!--		<script type="text/javascript">
                                var table = document.createElement('table');
                                $
                                $('.list_head').clone().appendTo(table);
                                $('#list_table').before(table);
                        </script>-->
        <!--//自动定时请求刷新-->
        <!--                <script type="text/javascript">
                            setTimeout("querySystemNotice()",1000*60*3);//1分钟
        
                               function querySystemNotice()
                               {
        //                            alert('aaaaaaaaa');
                                    window.location.reload();
                               }
                        </script>-->
        <include file="Index:footer" />
    </body>
</html>
<!-- 本次查询时间：{$date} -->